<!DOCTYPE html>
<html>
	<head>
		<!-- Meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!-- End of Meta -->
		
		<!-- Page title -->
		<title>Wide Admin - Login</title>
		<!-- End of Page title -->
		
		<!-- Libraries -->
		<link type="text/css" href="static/css/login.css" rel="stylesheet" />	
		<link type="text/css" href="static/css/smoothness/jquery-ui-1.7.2.custom.html" rel="stylesheet" />	
		
		<script type="text/javascript" src="static/js/jquery-1.3.2.min.js"></script>
		<script type="text/javascript" src="static/js/easyTooltip.js"></script>
		<script type="text/javascript" src="static/js/jquery-ui-1.7.2.custom.min.js"></script>
		<!-- End of Libraries -->	
	    <style type="text/css">
<!--
.STYLE1 {
	font-size: 36px;
	font-weight: bold;
}
#apDiv1 {
	position:absolute;
	left:279px;
	top:121px;
	width:525px;
	height:104px;
	z-index:1;
}
.STYLE6 {
	font-size: 36px;
	color: #999999;
}
.STYLE8 {font-size: 50px; color: #FFFFFF;}
.STYLE11 {
	color: #006600;
	font-size: 36px;
}
-->
        </style>
</head>
	<body>
	
	<div id="container">
	  <div class="logo">
			
		  <p align="center" class="STYLE6">Welcome to <span class="STYLE8">notes</span> system</p>
	    <p align="center" class="STYLE1">ADMIN</p>
		  <p>&nbsp;</p>
	  </div>
		<div id="box">
			<form action="login" method="POST">
			<p class="main">
				<label>Username: </label>
				<input name="username" /> 
				<label>Password: </label>
				<input type="password" name="password" value="">	
			</p>

			<p class="space">
                <input type="submit" value="Login" class="login" />
			</p>
			</form>
		</div>
	</div>

</body>
</html>
